.home-heading {
  margin-top: 5px;
  display: flex;

}

.navbar-home {
  display: flex;
  justify-content: space-between;
}

.home-topbutton {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

.root-home {
  display: flex;
  justify-content: space-around;
}

.sample {
  width: 30%;
}

.home-image {
  margin-left: 700px;

}

.creating-account {
  border: 1px solid lightgray;
  width: 30%;
  text-align: center;
  height: 40%;

}



/* --------------------------------------------- */

.dob {
  display: flex;
  gap: 20px;
}

.creating-account-dob {
  border: 1px solid lightgray;
  width: 50%;
  text-align: center;
  height: max-content;
}


/* 
------ */

.main-1 {
  display: flex;
  align-items: center;
  margin-left: 0px;
}

.main-root {
  display: flex;
}

.main-2 {
  width: 50%;
  margin-left: 20px;
}

.sidebar-root {
  margin-top: 10px;
  /* display: flex; */

}

/* -------------------- */

.displaymsg {
  display: flex;
  align-items: center;
  border: 1px groove darkgray;

  gap: 100px;
}

.displaymsg-root {
  width: 100%;
  margin-left: 0px;
}