.home-heading {
  margin-top: 5px;
  display: flex;

}

.navbar-home {
  display: flex;
  justify-content: space-between;
}

.home-topbutton {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

.root-home {
  display: flex;
  justify-content: space-around;
}

.sample {
  width: 30%;
}

.home-image {
  margin-left: 100px;
  margin-top: 100px;

}

.creating-account {
  border: 1px solid black;
  width: 30%;
  text-align: center;
  margin-left: 480px;
  margin-top: 100px;
}

/* --------------------------------------------- */

.dob {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  
}

.creating-account-dob {
  border: 1px solid black;
  width: 35%;
  text-align: center;
  margin-left: 450px;
  margin-top: 120px;

}

.main-1 {
  display: flex;
  align-items: center;
  margin-left: 0px;
}

.main-root {
  display: flex;
  align-items: center;

}

.main-2 {
  width: fit-content;
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.sidebar-root {
  margin-top: 10px;
}

/* -------------------- */

.displaymsg {
  display: flex;
  align-items: center;
  border: 1px groove black;
 
}

.displaymsg-root {
 
  margin-left: 0px;

}

.messageModel{
  overflow: scroll;
  text-indent: 50px;
  width: 100%;
  border: 1px solid grey;
}